In [62]:
#import Libraries
import requests
import pandas as pd
import time

In [63]:
#keys
API_KEY = "AIzaSyBSsUP1YMOpVmpYJ8tpz7koWKpfVHpSR7s"
CHANNEL_ID = "UCW8Ews7tdKKkBT6GdtQaXvQ"

In [64]:
def get_video_details(video_id):

    #collecting like, dislike, view and comment count
    url_video_stat="https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&part=statistics&key="+API_KEY

    response_video_stats=requests.get(url_video_stat).json()

    view_count=response_video_stats['items'][0]['statistics']['viewCount']
    like_count=response_video_stats['items'][0]['statistics']['likeCount']
    #       dislike_count=response_video_stats['items'][0]['statistics']['dislikeCount']
    comment_count=response_video_stats['items'][0]['statistics']['commentCount']

    return view_count,like_count,comment_count

In [65]:
def get_videos(df):
    
    #make API call
    pageToken=""
    url="https://www.googleapis.com/youtube/v3/search?key="+API_KEY+"&channelId="+CHANNEL_ID+"&part=snippet,id&order=date&maxResults=10000"+pageToken
    response= requests.get(url).json()
    time.sleep(1)
    
    for video in response['items']:
        if video['id']['kind']=="youtube#video":
            video_id=video['id']['videoId']
            video_title=video['snippet']['title']
            video_title=str(video_title).replace("&amp;","")
            upload_date=video['snippet']['publishedAt']
            upload_date=str(upload_date).split("T")[0]

            view_count,like_count,comment_count=get_video_details(video_id)

            #save the data in dataframe

            df=df.append({'video_id':video_id,'video_title':video_title,'upload_date':upload_date,'view_count':view_count,'like_count':like_count,'comment_count':comment_count},ignore_index=True)

    return df

In [66]:
#main
#build out dataframe

df=pd.DataFrame(columns=["video_id","video_title","upload_date","view_count","like_count","comment_count"])

df=get_videos(df)

In [67]:
df

,video_id,video_title,upload_date,view_count,like_count,comment_count
0,o5OmP1N_LFM,The Best SQL Platform Is Not What You Think,2024-01-24,243,8,0
1,_ZI9wfqEv_g,The Different Job Roles For Data Scientists In...,2024-01-03,1169,52,6
2,o3Yau5MJDZ4,When Does A Senior Data Scientist Actually Cod...,2023-12-06,1076,43,1
3,GSMCs3EmlmU,Short Primer on Tree-Based Machine Learning Mo...,2023-11-29,636,27,3
4,cEannyn5exA,What Visualization Frameworks Do You Need To L...,2023-11-16,1200,40,2
5,tT7STcGCvUY,Cleaning Data Like a 10x Data Scientist,2023-11-08,2076,93,2
6,O4FXdudaZAY,10 Ways Not To Suck On Coding Interviews For D...,2023-11-01,1089,32,0
7,q9HJ3hGjdo4,5 Skills Companies Look For in Data Science Ca...,2023-10-11,1264,56,0
8,WS0fM1agxTk,Master SQL Subqueries with Multiple Tables,2023-09-20,2331,58,4
9,mqHQwF6_r1E,6 Stages of Data Science Project,2023-09-13,1724,97,4
10,oJglmpO_esU,3 Data Science Projects To Land A Job,2023-09-06,3129,132,9
11,4uVxxj07cRE,Is SQL Really the ONLY Language You Need for D...,2023-08-29,1469,69,8
12,3FRoEyC0hdI,How To Be a Lazy Data Scientist With AI Chrome...,2023-08-16,1012,70,1
13,EDArFuFl0tU,3 Popular Machine Learning Algorithms In 5 Min,2023-08-10,808,28,3
14,0rSuMJB6IE4,6 Skills for the New Data Scientist,2023-07-26,1807,123,10
15,Y0hCQsCMIZM,15 ChatGPT Plugins for Data Science,2023-07-19,1244,73,6
16,pBC6DJRBzSw,Unsupervised Feature Selection for Machine Lea...,2023-07-12,1148,24,3
17,vuJi4lF52YU,Feature Selection for Machine Learning In 5 Mins,2023-07-05,883,29,3
18,rDteKsifPow,Filtered Based Feature Selection for Machine L...,2023-06-29,1239,41,4
19,1TgQf5WA9Mw,Analyzing Movie Reviews: A 3-Step Approach to ...,2023-06-28,326,11,0
20,kcTrK4xxhPk,Mastering Movie Classification: Rotten Tomatoe...,2023-06-21,1190,19,1
21,l9DMUrJQAzY,Text Analysis Made Easy: Tokenization for ML A...,2023-06-14,434,9,0
22,AuNuF7lCI8w,SMOTE: Tackling Imbalanced Data in Machine Lea...,2023-06-09,608,25,0
23,Qh9ajFNeIEc,Data Project: Analyzing Review Sentiment for A...,2023-06-08,891,21,0
24,J4rheMtvu6g,[Part 3]: Random Forest Classifier For A Faceb...,2023-05-31,528,7,0
25,3iqH-yNQFUw,Exploring Decision Tree and Random Forest Clas...,2023-05-30,1476,48,0
26,Ih6G5hnn30Q,[Part 2]: Exploring Decision Tree Classifiers ...,2023-05-24,594,16,1
27,REGDQyCBY0I,Rotten Tomatoes Movie Rating Prediction - Data...,2023-05-23,244,7,0
28,cM12QtrhdLo,[Part 1]: Exploring and Visualizing Data For A...,2023-05-17,1004,22,3
29,A9QzeBFj5GY,Python Pandas: Understanding Percentage Rankin...,2023-05-16,357,13,0
30,Cg66PLiW9L0,Data Ranking: Python Pandas and SQL Equivalent...,2023-05-10,655,18,1
31,d2neUrrUSu0,Python for Data Analysis: Probability And Bino...,2023-05-02,1066,35,0
32,MO1TY636-YA,A Python Approach to Solving Probability Inter...,2023-04-26,1182,36,0
33,f6P1nuQXsC0,Using IFNULL() Function in MySQL to Avoid Null...,2023-04-25,563,16,0
34,rbRYsAgwPBA,Using IFNULL() on a Google SQL Interview Question,2023-04-19,2620,57,5
35,IWo8H8U_Ugk,Sorting and Ranking Data in Python: An Overvie...,2023-04-18,329,10,0
36,2uu0prXMhfU,How to Rank() Your Data In Python Pandas [Part 1],2023-04-12,1249,50,1
37,sF6gngs9myY,38 Data Science Tools For Beginners to Experts,2023-04-05,2149,150,12
38,Y5-eAFnxMjU,Maximizing Profits: Solving the Uber Data Proj...,2023-04-04,357,14,0
39,xlppLbv7nb0,Using Python Pandas for Building Uber&#39;s Bu...,2023-03-29,1288,26,0
40,Mkhdz2TLP2E,Uber Data Project: Exploring Bonus Payout with...,2023-03-29,690,25,0
41,-Lzi4Qoy2v4,Using Python Pandas To Answer Business Questio...,2023-03-22,1080,30,3
42,pqeUTfNFBCU,Exploring and Cleaning Data: The First Step in...,2023-03-14,7183,277,4
43,ZOthTms86Bw,Exploratory Data Analysis For An Uber Python D...,2023-03-08,2555,83,0
44,9oNY9EV3MiM,Speed up your Python Data Manipulation with La...,2023-02-28,987,29,0
45,YN-5NQO4iSU,Solving Amazon Interview Questions with Lambda...,2023-02-22,1038,41,2
46,ltzJhIs8voQ,Mastering SQL String Manipulation with Regex_s...,2023-02-21,581,37,2
47,BgN5hpl3WKc,Solving a Tricky Google SQL Question with Stri...,2023-02-16,2495,60,4
48,GxR66KdqBFU,Analyzing Datasets with Window Functions: Firs...,2023-02-16,546,17,2
49,-KXluZNAYrA,Window Function in SQL: A Step-by-Step Guide t...,2023-02-08,2365,78,10

In [69]:
df.to_csv('youtube_dataset.csv',index=False)